@import data.Student
@import java.time.format.DateTimeFormatter
@(student: Student,
        students: List[Student],
        formatter: DateTimeFormatter)

@*
* These are some example comments. On line 10 we pass in the page title
*@
@main("Using Twirl Templates in Play") {
    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Static Content example</h1>
                <p class="lead text-muted">
                    This is static content.</p>
            </div>
        </section>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Dynamic Content example</h1>
                <div class="table-responsive text-center">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>First Name</th>
                                <td>@student.getFirstName</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>@student.getLastName</td>
                            </tr>
                            <tr>
                                <th>Date Of Birth</th>
                                <td>@formatter.format(student.getDateOfBirth)</td>
                            </tr>
                            <tr>
                                <th>Full Name</th>
                                <td>@(student.getFirstName + " " + student.getLastName)</td>
                            </tr>
                            <tr>
                                <th>Full Name</th>
                                <td>@{
                                    student.getFirstName + " " + student.getLastName
                                }</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Iteration Example</h1>
                <div class="table-responsive text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>DOB</th>
                                <td>More</td>
                            </tr>
                        </thead>
                        <tbody>
                        @for(s <- students) {
                            <tr>
                                <td>@s.getFirstName</td>
                                <td>@s.getLastName</td>
                                <td>@formatter.format(s.getDateOfBirth)</td>
                                <td>
                                @if(s.getAge() >= 18) {
                                    Adult
                                } else {
                                    Child
                                }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </main>
}
