<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Person Details</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/people.css}" rel="stylesheet">
</head>
<body>
<nav class="site-header sticky-top py-1" th:replace="fragments :: navigation">

</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" th:utext="#{pages.titleDetails}">Heading</h1>
        <p class="lead font-weight-normal" th:text="'Hello World!'"></p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>

                </thead>
                <tbody th:object="${user}">
                <tr>
                    <td class="text-dark">First Name</td>
                    <td th:text="*{firstName}"></td>
                </tr>
                <tr>
                    <td class="text-dark">Last Name</td>
                    <td th:text="*{lastName}"></td>
                </tr>
                <tr>
                    <td class="text-dark">Phone</td>
                    <td th:text="*{phone}"></td>
                </tr>
                <tr>
                    <td class="text-dark">Email</td>
                    <td th:text="*{email}"></td>
                </tr>
                <tr>
                    <td class="text-dark">Address</td>
                    <td th:text="*{address}"></td>
                </tr>
                <tr>
                    <td class="text-dark">Date Of Birth</td>
                    <td th:text="${df.format(user.dateOfBirth)}"></td>
                </tr>
                </tbody>
            </table>
            <p th:if="${user.showDetails}" th:text="${user.address}"></p>
            <p th:unless="${user.showDetails}">REDACTED</p>
            <a th:href="@{http://localhost:8080/people(type=${userType})}"></a>
            <a th:href="@{/people(ageLimit=${ageLimit})}"></a>
            <a th:href="@{/people(ageLimit=${ageLimit}, type=${userType})}"></a>
            <a th:href="@{/people/{id}/(extended=${extFlag}, detail=${detailFlag})}"></a>
        </div>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<footer class="container py-5" th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
