<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title th:utext="#{pages.titlePeople}">Fragments</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/people.css}" rel="stylesheet">
</head>
<body>
<nav th:replace="fragments :: navigation">

</nav>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" th:utext="#{pages.titlePeople}">Heading</h1>
        <p class="lead font-weight-normal" th:text="'Hello World!'"></p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Full Name</th>
                    <th>DOB</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Details</th>
                    <th>Iteration Info</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person,iStat: ${people}">
                    <td th:text="|${person.firstName} ${person.lastName}|"></td>
                    <td th:text="${df.format(person.dateOfBirth)}"></td>
                    <td th:text="${person.phone}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person.address}"></td>
                    <td><a th:href="@{|/${person.id}|}">Details</a> </td>
                    <td>[[|Index: ${iStat.index}
                        Count: ${iStat.count}
                        Size: ${iStat.size}
                        First: ${iStat.first}
                        Last: ${iStat.last}
                        Even?: ${iStat.even}
                        Odd?: ${iStat.odd} |]]
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


<footer th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
