<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.ico}">

    <title>People</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>People</h2>
    </div>

    <div class="row">
        <div class="offset-2 col-md-8">
            <a th:href="@{/create}" class="btn btn-outline-primary btn-sm float-right">New Person</a>
            <div class="mb-5"></div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>Date of Birth</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="person: ${people}" th:object="${person}">
                        <td>
                            <img height="60px" th:src="@{|/images/${person.getImageName()}|}">
                        </td>
                        <td th:text="|*{firstName} *{lastName}|">Full Name</td>
                        <td th:text="${person.dateOfBirth.format(formatter)}">Date of Birth</td>
                        <td th:text="${roles}"></td>
                        <td><a th:href="@{|/person/${person.id}|}">Details</a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Company Name</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
