<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.ico}">

    <title>View</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>View User</h2>
    </div>

    <div class="row">
        <div class="offset-2 col-md-8" th:object="${person}">
            <a th:href="@{/}" class="btn btn-outline-primary btn-sm float-right m-2">Back</a>
            <a th:href="@{|/update/${person.id}|}" class="btn btn-outline-warning btn-sm float-right m-2">Edit</a>
            <div class="mb-5"></div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td th:if="*{imageName}">
                            <img height="300px" th:src="@{|/images/${person.getImageName()}|}">
                            <hr class="mb-5">
                        </td>
                    </tr>
                    <tr>
                        <th>First name</th>
                        <td th:text="*{firstName}"></td>
                    </tr>
                    <tr>
                        <th>Last name</th>
                        <td th:text="*{lastName}"></td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td th:text="${person.dateOfBirth.format(formatter)}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td th:text="*{address}"></td>
                    </tr>
                    <tr>
                        <th>Address 2</th>
                        <td th:text="*{address2}"></td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td th:text="${person.getFormattedRoles()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Company Name</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
