<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/favicon.ico}">

    <title>Update</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Update Person</h2>
    </div>

    <div class="row">
        <div class="offset-2 col-md-8">
            <h4 class="mb-3">Person details</h4>
            <form th:action="@{/update}" method="post" enctype="multipart/form-data" th:object="${personForm}">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" th:field="*{firstName}" required>
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" th:field="*{lastName}" required>
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Date of Birth </label>
                    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" required>
                    <div th:if="${#fields.hasErrors('dateOfBirth')}"  th:errors="*{dateOfBirth}" class="text-danger">
                        Please enter a valid date dd/MM/yyyy.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="you@example.com">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" th:field="*{address}" placeholder="1234 Main St" required>
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" name="address2" th:field="*{address2}" placeholder="Apartment or suite">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="roles">Roles</label>
                        <select class="custom-select d-block w-100" id="roles" name="roles[]" th:field="*{roles}" multiple required>
                            <option value="">Choose...</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="CONTRIBUTOR">CONTRIBUTOR</option>
                            <option value="CLERK">CLERK</option>
                            <option value="MANAGER">MANAGER</option>
                            <option value="GENERAL">GENERAL</option>
                            <option value="GUEST">GUEST</option>
                            <option value="EDITOR">EDITOR</option>
                        </select>
                        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="text-danger">
                            Please select valid roles.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 Company Name</p>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
