@import model.Student
@import play.i18n.Messages

@(studentForm: Form[Student])(implicit messages: Messages)

@main("Create Student") {
    <h3>Create Student</h3>

    @if(studentForm.hasGlobalErrors) {
        <p class="error">
        @for(error <- studentForm.globalErrors) {
            <p>@error.format(messages)</p>
        }
        </p>
    }

    <form action="@routes.StudentController.createStudent()" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName" aria-describedby="info" placeholder="Enter first name">
            @for(error <- studentForm("firstName").errors) {
                <small class="form-text text-danger">@error.format(messages)</small>
            }
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName" aria-describedby="info" placeholder="Enter first name">
            @for(error <- studentForm("lastName").errors) {
                <small class="form-text text-danger">@error.format(messages)</small>
            }
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
            @for(error <- studentForm("email").errors) {
                <small class="form-text text-danger">@error.format(messages)</small>
            }
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="number" class="form-control" name="level" id="level" placeholder="Enter level">
            @for(error <- studentForm("level").errors) {
                <small class="form-text text-danger">@error.format(messages)</small>
            }
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
