@import model.Student
@import play.i18n.Messages

@(studentForm: Form[Student])(implicit messages: Messages)

@main("Create Student") {
    <h3>Create Student</h3>

    @helper.form(action = routes.StudentController.createStudent()) {
        @helper.inputText(studentForm("firstName"), Symbol("_label") -> "First Name", Symbol("placeholder") -> "Enter last name", Symbol("class") -> "form-control")
        @helper.inputText(studentForm("lastName"), Symbol("_label") -> "Last Name", Symbol("placeholder") -> "Enter last name", Symbol("class") -> "form-control")
        @helper.inputText(studentForm("email"), Symbol("_label") -> "Email", Symbol("placeholder") -> "Enter last name", Symbol("type") -> "email", Symbol("class") -> "form-control")
        @helper.select(studentForm("level"), options = Seq.range(0, 11).map(i => (i.toString, i.toString)), Symbol("_label") -> "Level", Symbol("class") -> "form-control")
        <button type="submit" class="btn btn-primary">Submit</button>
    }
}
