@import model.Student

@(students: List[Student])

@main("View Students") {
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">All Students</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(student <- students) {
                            <tr>
                                <td>@student.getFirstName</td>
                                <td>@student.getLastName</td>
                                <td>@student.getEmail</td>
                                <td>@student.getLevel</td>
                                <td>
                                    <a href="@routes.StudentController.viewStudent(student.getId)">View Details</a>
                                    <a href="@routes.StudentController.deleteStudent(student.getId)"><span class="text-danger">Delete</span></a></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
