@import model.Student

@(student: Student)

@main("View Student") {
    <div class="row">
        <div class="offset-2 col-8">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>First Name</th>
                            <td>@student.getFirstName</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>@student.getLastName</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@student.getEmail</td>
                        </tr>
                        <tr>
                            <th>Level</th>
                            <td>@student.getLevel</td>
                        </tr>
                        <tr>
                            <td colspan="2"><a href="@routes.StudentController.updateStudentPage(student.getId)">Update Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
